.SearchInfo {
  background-color: #f5acca;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.temp {
  font-size: 28px;
  font-weight: bold;
}
